{% extends "accueil.twig" %}

{% block title %}
    {{ title }}
{% endblock %}


{% block head %}{% endblock %}


{% block body %}
    <h1>{{ title }}</h1>
    <p class="important">
        {{ text }}
    </p>
{% endblock %}